@font-face {
    font-family: "Figtree";
    src: url("@fonts/Figtree/Figtree-VariableFont_wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url("@fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("@fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
    font-style: normal;
}
